{% if company is None %}
<footer class="bg-white rounded shadow p-5 mb-4 mt-4">
    <div class="row">
   
        <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
            <!-- List -->
            <ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">
                <li class="list-inline-item px-0 px-sm-2">
                    <a target="_blank" 
                       href="https://appseed.us/admin-dashboards/django-dashboard-volt">Company doesnt exist in database. Please search for other company</a>
                </li>
            </ul>
        </div>

    </div>
</footer>
{% endif %}
